/* Temel stiller */
.custom-select {
    position: relative;
    width: 200px;
    
  }
.select-box{
    background-color: #fcfcfc;
    border-radius: 1rem;
    padding: 1.5em 2em;
    cursor: pointer;
}  
.select-box #selected-option{
    font-size: 1.4rem;
}
  .custom-select::after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
  }
  
  .custom-select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1rem;
    margin-top: .5em;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
  }
  .custom-select-dropdown::-webkit-scrollbar {
    width: 1rem;
  }
  
  .custom-select-dropdown::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
  
  .custom-select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 1.5rem;
  }
  
  .custom-select.select-box:focus + .custom-select-dropdown {
    display: block;
  }
  
  .custom-select-dropdown div {
    padding: 10px;
    cursor: pointer;
    font-size: 1.4rem;
  }
  
  .custom-select-dropdown div:hover {
    background-color: #f1f1f1;
  }
  