.secret-area{
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    align-items: center;
    width: 20%;
    border-radius: 1rem;
    padding: .5em 2em;
    justify-content: space-between;
}
.secret-text{
    font-size: 1.6rem;
}

.secret-button{
    background-color: #35B771;
    padding: 1em;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
}
.copied-message {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #35B771;
    color: white;
    font-size: 1.6rem;
    padding: 1em 2em;
    border-radius: 5px;
    transition: all 2s ease;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }